* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  overflow-wrap: break-word;
  font-size: 16px;
  font-family: sans-serif;
}

/* LINKS */

a {
  text-decoration: none;
  color: #000;
}

.link--active {
  border-bottom: 1px solid black;
}

#siteWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
}

/* HEADER */
.header {
  display: flex;
  margin: 60px;
  /* border-bottom: 1px solid black; */
}

.nav-bar {
  width: 33%;
}

.header-title {
  width: 33%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.social-nav {
  width: 30%;
  text-align: right;
  padding-right: 10px;
}
.nav-link {
  font-weight: 100;
  padding: 0px 10px;
}

.shopping-cart {
  width: 3%;
}

/* BOT TOPS */

.bot-tops {
  width: 90%;
  padding-top: 20px;
  margin: 15vh auto 3vh auto;
}
/* .bot-tops-inner {
  align-items: center;
} */
.bot-tops-links {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding-bottom: 60px;
  margin-bottom: 15px;
}
.bot-link {
  padding: 0px 25px;
}

.btn-sale {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.shopping-cart {
  display: flex;
}

/* PRODUCTS */

.products-wrapper {
  margin: auto;
  /* border: 1px solid black; */
  width: 90%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.product-line {
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  /* align-items: flex-start;
  justify-content: flex-start; */
}

.product {
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  /* margin-right: 10px;
  margin-left: 10px; */
  display: flex;
  flex-direction: column;
}
.product-link {
  height: 100%;
}

.cumshirt {
  width: 100%;
  height: 80%;
}

.shirt-name-color {
  display: flex;
}
.shirt-name {
  margin: 2px 4px 2px 4px;
  font-weight: 100;
}
.shirt-color {
  margin: 2px 4px 2px 4px;
}
.shirt-price {
  margin: 2px 4px 2px 4px;
}
